<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="paginador.number >0">
      <a class="page-link" [routerLink]="['/clientes/pages/',paginador.number-1]">&laquo;</a>
    </li>
<li [ngClass]="paginador.number==0 ?'disabled  page-item':'page-item'"
><a [routerLink]="['/clientes/pages/',0]"  class="page-link" >Primera</a>
</li>
    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1==paginador.number?'active':''">
      <span  class="page-link" *ngIf="pagina-1==paginador.number">{{pagina}}</span>
      <a class="page-link"  *ngIf="pagina-1 != paginador.number"  [routerLink]="['/clientes/pages/',pagina-1]" >{{pagina}}</a></li>

      <li [ngClass]="paginador.number==paginador.totalPages-1 ?'disabled  page-item':'page-item'"
      ><a [routerLink]="['/clientes/pages/',paginador.totalPages-1]" class="page-link" >ultima</a>
      </li>

    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
      <a class="page-link" [routerLink]="['/clientes/pages/',paginador.number+1]">&raquo;</a>
    </li>
  </ul>
</nav>
