<app-header></app-header>
 <div class="container my-3 pb-5">

   <router-outlet></router-outlet>
  <!-- <span>{{ title }} app is running!</span>-->


   <!--<app-directiva></app-directiva>-->
 <!--<app-cliente></app-cliente>-->
 </div>
<app-footer></app-footer>
