<div class="card border-primary">
  <div class="card-header text-center">  {{titulo}}</div>
    <div class="card-body">
      <form   method="post">
        <div class="form-group col-sm-6">

          <input [(ngModel)]="usuario.username" type="text" class="form-control" id="username" name="username" placeholder="username" autofocus=true required>

        </div>
        <div class="form-group col-sm-6">

          <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password" placeholder="password" required>

        </div>
        <div class="form-group col-sm-6">

          <input type="submit" class="btn btn-lg btn-primary btn-block" id="login" (click)="login()" name ="login" value="Login">
        </div>
      </form>
    </div>

</div>
