
<div class="abrir-modal animacion fadeIn"  *ngIf="modalService.modalDialog">
<div   *ngIf="modalService.modalDialog" class="modal" tabindex="-1" role="dialog" style="display:block;"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="cerrarModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
          <div class="col-sm">

        <ul *ngIf="client" class="list-group text-dark  mb-3">
          <li class="list-group-item active">{{client.nombre}}</li>
          <li class="list-group-item">{{client.apellidos}}</li>
          <li class="list-group-item">{{client.email}}</li>
          <li class="list-group-item">{{client.createAt | date:"fullDate" }}</li>
          <li class="list-group-item">{{client.region.nombre}}</li>
        </ul>

            <div class="input-group mb-3">
              <div class="custom-file">
                <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"/>
                <label class="custom-file-label" for="inputGroupFile04">Seleccionar Archivo</label>
              </div>
              <div class="input-group-append">
                <button (click)="subirfoto()" [disabled]="!up.imagen" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
              </div>
            </div>

            <div *ngIf="proceso >0" class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:proceso+'%'}" attr.aria-valuenow="{{proceso}}" aria-valuemin="0" aria-valuemax="100">
        {{proceso}}%
          </div>
        </div>

          </div>
          <div class="col-sm">
        <img *ngIf="client?.foto" src="http://localhost:8584/api/updloas/img/{{client.foto}}" alt="{{client.foto}}" class="img-thumbnail rounded">
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
