<detalles-cliente *ngIf="ClienteSeleccionado" [client]="ClienteSeleccionado"></detalles-cliente>

<div class="card border-primary mb-3" >
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de cliente</h5>
    <div class="my-2 text-left" >
      <button type="button" name="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']" >Crear Cliente</button>
    </div>
    <div class="alert alert-info"  *ngIf="clientes?.length==0" >
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>FechaCreacion</th>
          <th>Email</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clientes">
          <td>
            <img  (click)="abrirModal(item)" *ngIf="item?.foto" src="http://localhost:8584/api/updloas/img/{{item.foto}}" alt="{{item.foto}}" class="img-thumbnail rounded"
            style="width:64px; cursor:pointer;"
            >
            <img  (click)="abrirModal(item)" *ngIf="!item?.foto" src="http://localhost:8584/images/no-user.png" alt="Sin foto" class="img-thumbnail rounded"
            style="width:64px; cursor:pointer;"
            >
            <!--<button type="button" name="button"  class="btn btn-success btm-sm" (click)="abrirModal(item)">{{item.id}}</button>-->
          </td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellidos | uppercase}}</td>
          <td>{{item.createAt | date:"fullDate" }}</td>
          <td>{{item.email}}</td>
          <td>
            <button type="button" name="button" class="btn btn-primary" [routerLink]="['/clientes/form/',item.id]">Editar</button>
          </td>
          <td>
            <button type="button" name="button1" class="btn btn-danger" (click)='eliminar(item)'>Elminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginador-nav *ngIf="paginador" [paginador]="paginador"></paginador-nav>
  </div>
</div>
