<div class="alert alert-danger" *ngIf="errores?.length>0">
  <ul>
    <li *ngFor="let error of errores">{{error}}</li>
  </ul>
</div>



<div class="card bg-dark text-white">
<div class="card-header">{{titulo}}</div>
<div class="card-body">
<!--<form (ngSubmit)="create()">-->

<form #clienteform="ngForm">
  <div class="form-group row">
  <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" [(ngModel)]="cliente.nombre" name="nombre"  #nombre="ngModel"><!--required minlength="4"-->
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty||nombre.touched)">
        <div *ngIf="nombre.errors.required">
          nombre es requerido
        </div>
        <div *ngIf="nombre.errors.minlength">
          nombre debe tener almenos 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
  <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" [(ngModel)]="cliente.apellidos" name="apellidos"  #apellidos="ngModel"><!--required-->
    <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty||apellidos.touched)">
      <div *ngIf="apellidos.errors.required">
        Apellidos es requerido
      </div>
        </div>
    </div>
  </div>
  <div class="form-group row">
  <label for="email" class="col-form-label col-sm-2">email</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"><!--required email -->
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty||email.touched)">
        <div *ngIf="email.errors.required">
          Apellidos es requerido
        </div>
        <div *ngIf="email.errors.email">
          Email debe tener un formato correcto
        </div>
      </div>
    </div>

  </div>
  <div class="form-group row">
  <label for="apellidos" class="col-form-label col-sm-2">regiones</label>
    <div class="col-sm-6">

      <select [compareWith]="compararRegion" class="custom-select" id="inputGroupSelect01" [(ngModel)]="cliente.region" name="region" >
        <option [ngValue]="undefined">Selecionar una region</option>
        <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>

      </select>


    </div>
  </div>


  <div class="form-group row">
  <label for="apellidos" class="col-form-label col-sm-2">Fecha registro</label>
    <div class="col-sm-6">

  <input matInput [matDatepicker]="myDatepicker"  class="form-control" [(ngModel)]="cliente.createAt" name="createAt"  #createAt="ngModel" style="display:inline; width:300px;">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>


    </div>
  </div>

<div class="form-group row">
  <div class="col-sm-6">
    <button role="button" class="btn btn-primary "  (click)='create()'  *ngIf="!cliente.id else elseblock"  [disabled]="!clienteform.form.valid">Crear</button>
    <ng-template #elseblock>
     <button role="button" class="btn btn-primary "  (click)='actualizar()' [disabled]="!clienteform.form.valid" >Actualizar</button>
    </ng-template>
  </div>
</div>
</form>
</div>
</div>
